@font-face {
    font-family: 'NRT-Font';
    /* Note the '../../' - this tells Vite to go out of resources/css and into public */
    src: url('../../public/fonts/NRT-Bd.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html, body {
        font-family: 'NRT-Font', sans-serif !important;
    }
}